@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
	margin-left: 15px;
	margin-top: 40px;
}

h3 {
	font-size: 1.5em;
	margin-left: 15px;
}

p {
	margin: 20px;
	

}

.album-art {
	border: 2px solid red;
	padding: 20px;
	margin: 40px;
	float: left;
	width: 10%;

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2px solid red;
	padding: 20px;
	margin: 40px;
	float: left;
	width: 20%;
}

.record-label {
	color: red;

}

.track-list {

}

#about-photo {
	border: 2px solid red;
	padding: 20px;
	margin: 40px;
	float: left;
	

}

#copyright {
	color: red;

}

#section-about, #section-discography, #section-equipment {
	border: 2px solid red;
	margin: 15px 20px;
		
}

#text-intro {
	padding:20px; 
	margin-bottom: 30px;
	border: 2px solid red;
	color: red;
	background-color:  rgb(80, 80, 80);
	width: 95%;
	margin-left: 5px;

	
}